*
!Dockerfile
!another1/**

another1/.next
another1/node_modules
another1/.vercel
another1/.turbo
another1/.cache
another1/coverage
another1/tmp
another1/.env*
another1/*.log
another1/.vscode
another1/.DS_Store

venv/
**/*.pdf
service_account.json
sheetjson
